@use "../base/templates" as *;
@use "../base/media" as *;

.s-why {
  &__wrap {
    display: flex;
    align-items: center;
    gap: 50px;
    @include desktop {
      flex-wrap: wrap;
      gap: 30px;
    }
    @include tablet-min {
      gap: 20px;
    }
  }
  &__info {
    flex: 1;
    @include desktop {
      flex: auto;
      width: 100%;
    }
  }
  &__content {
    font-size: 20px;
    margin-top: 20px;

    @include desktop {
      font-size: 18px;
    }
    @include tablet-min {
      margin-top: 10px;
    }
  }
  &__table-literature {
    font-weight: 500;
    margin-top: 20px;

    @include tablet-min {
      margin-top: 10px;
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }
  &__table {
    flex: 0 1 1030px;
    @include desktop {
      flex: auto;
      width: 100%;
      font-size: 15px;
    }
    @include laptop-middle {
      font-size: 14px;
    }
    @include tablet {
      font-size: 13px;
    }
    @include tablet-min {
      font-size: 12px;
    }

    .table-row {
      display: flex;
    }
    .table-item {
      @include flex-center;
      flex-wrap: wrap;
      gap: 5px;
      padding: 10px 20px;
      min-height: 60px;
      flex: 1;

      @include laptop-middle {
        padding: 8px 12px;
      }
      @include tablet {
        gap: 2px;
      }
      @include tablet-min {
        padding: 6px 10px;
      }

      &:first-child {
        flex: 0 0 21%;
        justify-content: flex-start;
        @include tablet-min {
          flex-basis: 115px;
        }
      }

      &._primary {
        background-color: var(--primary);
        color: white;
        border-radius: 8px;
      }
    }
    .item-circle {
      @include flex-center;
      font-size: 10px;
      border-radius: 50%;
      border: 1px solid var(--storm);
      color: var(--storm);
      width: 20px;
      height: 20px;

      @include tablet {
        width: 16px;
        height: 16px;
        font-size: 7px;
      }

      &._fill {
        color: white;
        background-color: var(--storm);
      }
      &._primary {
        font-weight: 600;
        color: white;
        background-color: var(--primary);
        border-color: var(--primary);
      }
    }
    .item-infinate {
      font-weight: 500;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: var(--storm);

      @include tablet {
        font-size: 28px;
      }
    }
  }
  &__table-head {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    .table-item {
      background-color: var(--athens);

      @include laptop-middle {
        &[data-count] {
          font-size: 0px;

          &::before {
            content: attr(data-count);
            font-size: 14px;
          }
        }
      }
    }
  }
  &__table-body {
    border: 1px solid var(--athens);
    border-radius: 0px 0px 10px 0px;

    .table-row {
      &:not(:last-child) {
        border-bottom: 1px solid var(--athens);
      }
    }
    .table-item {
      &:not(:last-child) {
        border-right: 1px solid var(--athens);
      }

      @include tablet {
        &:not(:first-child) {
          padding-left: 2px;
          padding-right: 2px;
        }
      }
    }
  }
}
