@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --border: transparent;
  --background: var(--linear);
  --color: white;
  --border-h: transparent;
  --background-h: var(--linear);
  --color-h: white;

  @include flex-center;
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--background);
  border: 1px solid var(--border);
  padding: 18px 30px;
  border-radius: 8px;
  width: fit-content;

  user-select: none;
  color: var(--color);
  font-weight: 500;
  text-align: center;

  transition:
    opacity 0.3s ease,
    background 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  @include hover {
    opacity: 0.8;
    background: var(--background-h);
    color: var(--color-h);
    border-color: var(--border-h);
  }
  @include tablet {
    font-size: 14px;
    padding: 15px 20px;
  }

  &._outline {
    --border: var(--ghost);
    --background: transparent;
    --color: var(--black);
    --border-h: var(--black);
    --background-h: transparent;
    --color-h: var(--black);
  }
}

.btn-play {
  --border: rgba(255, 255, 255, 0.3);
  --background: rgba(220, 2, 10, 0.3);
  --color: white;
  --border-h: white;
  --background-h: rgba(220, 2, 10, 0.6);
  --color-h: white;

  @include flex-center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--color);
  backdrop-filter: blur(10px);

  font-size: 30px;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--background-h);
    color: var(--color-h);
    border-color: var(--border-h);
  }

  i {
    transform: translateX(2px);
  }
}
