@use "../base/templates" as *;
@use "../base/media" as *;

.m-title {
  font-weight: 800;
  font-style: italic;
  font-size: 52px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: 0;

  span {
    color: var(--primary);
  }

  @include laptop {
    font-size: 46px;
  }
  @include tablet {
    font-size: 32px;
  }
  @include tablet-min {
    font-size: 28px;
  }
}

.s-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: 0;

  @include laptop {
    font-size: 32px;
  }
  @include tablet {
    font-size: 28px;
  }
  @include tablet-min {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}
