<aside>
  <div class="burger" id="burger">
    <ul class="list burger__list">
      <li><a href="/#s-catalog">Авто с пробегом</a></li>
      <li><a href="/#s-services">Услуги</a></li>
      <li><a href="/#s-about">О нас</a></li>
      <li><a href="/#s-reviews">Отзывы</a></li>
      <li><a href="/#s-reviews">Контакты</a></li>
    </ul>
    <div class="burger__footer">
      <div class="burger__address">г. Казань, ул. 1-ая азинская, д. 41</div>
      <div class="burger__time">На связи 24/7</div>
      <a href="tel:+79625538687" class="burger__tel">+7 (962) 553-86-87</a>
      <div class="social">
        <a href="#" target="_blank" rel="nofollow" class="social-item">
          <i class="icon-tg"></i>
        </a>
        <a href="#" target="_blank" rel="nofollow" class="social-item">
          <i class="icon-max"></i>
        </a>
      </div>
      <a href="/#s-get" class="btn-s burger__btn">
        <span>Оценить авто онлайн</span>
      </a>
    </div>
  </div>
</aside>
