<footer class="footer">
  <div class="footer__main">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__col">
          <a href="/" class="footer__logo">
            <img src="@img/logo.svg" alt="logo" />
          </a>
          <div class="footer__address">г. Казань, ул. 1-ая азинская, д. 41</div>
        </div>
        <ul class="list footer__list">
          <li><a href="/#s-catalog">Авто с пробегом</a></li>
          <li><a href="/#s-services">Услуги</a></li>
          <li><a href="/#s-about">О нас</a></li>
          <li><a href="/#s-reviews">Отзывы</a></li>
          <li><a href="/#s-contacts">Контакты</a></li>
        </ul>
        <div class="footer__contacts">
          <div class="footer__contacts-row">
            <a href="tel:+79625538687" class="footer__tel">+7 (962) 553-86-87</a>
            <div class="social">
              <a href="#" target="_blank" rel="nofollow" class="social-item">
                <i class="icon-tg"></i>
              </a>
              <a href="#" target="_blank" rel="nofollow" class="social-item">
                <i class="icon-max"></i>
              </a>
            </div>
          </div>
          <div class="footer__time">Круглосуточно</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-row">
        <div class="footer__bottom-text">© Авто территория, 2026. ИНН: 000000000</div>
        <ul class="list footer__bottom-list">
          <li><a href="#" target="_blank">Политика конфиденциальности</a></li>
          <li><a href="#" target="_blank">Политика обработки персональных данных</a></li>
        </ul>
        <a href="https://qorix.ru/" target="_blank" class="footer__dev">
          <span>Разработка сайта —</span>
          <img src="@img/qorix.svg" alt="icon">
        </a>
      </div>
      <div class="footer__bottom-content">
        Обращаем ваше внимание на то, что данный интернет-сайт, а также вся информация о товарах и ценах, предоставленная на нём, носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
      </div>
    </div>
  </div>
</footer>

<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
