<section class="sect-m s-adv" id="s-adv">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Почему именно мы?</h2>
    </div>
    <div class="s-adv__wrap">
      <div class="content-box s-adv__content">
        <p>
          Кстати, интерактивные прототипы призваны к ответу. В своём стремлении
          повысить качество жизни, они забывают, что экономическая повестка
          сегодняшнего дня влечет за собой процесс внедрения и модернизации
          системы массового участия.
        </p>
        <p>
          И нет сомнений, что ключевые особенности структуры проекта, которые
          представляют собой яркий пример континентально-европейского типа
          политической культуры, будут рассмотрены исключительно в разрезе
          финансовых предпосылок.
        </p>
      </div>
      <div class="s-adv__grid">
        <div class="s-adv__item">
          <div class="item-circle">
            <img src="@img/adv-icon.svg" alt="icon" />
          </div>
          <span>Скупаем автомобили дорого</span>
        </div>
        <div class="s-adv__item">
          <div class="item-circle">
            <img src="@img/adv-icon.svg" alt="icon" />
          </div>
          <span>Быстрый выкуп автомобилей</span>
        </div>
        <div class="s-adv__item">
          <div class="item-circle">
            <img src="@img/adv-icon.svg" alt="icon" />
          </div>
          <span>Полное сопровождение</span>
        </div>
        <div class="s-adv__item">
          <div class="item-circle">
            <img src="@img/adv-icon.svg" alt="icon" />
          </div>
          <span>Вся процедура скупки абсолютно прозрачна</span>
        </div>
      </div>
    </div>
  </div>
</section>
