<section class="s-catalog sect-p" id="s-catalog">
  <img src="@img/lines-decor.png" alt="decor" class="s-catalog__decor _right" />
  <img src="@img/lines-decor.png" alt="decor" class="s-catalog__decor _left" />
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Последние выкупленные авто</h2>
    </div>
    <div class="container-more" data-count-show="10">
      <div class="swiper s-catalog__slider">
        <div class="swiper-wrapper s-catalog__slider-wrapper">
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
          <div data-more-item class="swiper-slide">
            <article class="card-car">
              <div class="swiper card-car__slider">
                <div class="slider-arrow _prev">
                  <i class="icon-prev"></i>
                </div>
                <div class="slider-arrow _next">
                  <i class="icon-next"></i>
                </div>
                <div class="swiper-wrapper">
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                  <a href="@img/car.jpg" data-fancybox class="swiper-slide">
                    <img src="@img/car.jpg" alt="image" />
                  </a>
                </div>
                <div class="slider-pagination-r _lap-min"></div>
              </div>
              <div class="card-car__body">
                <h3 class="card-car__title">Toyota Camry</h3>
                <ul class="list card-car__list">
                  <li>2011 г</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                  <li>2.0</li>
                  <li>150 000 км</li>
                  <li>Б/у</li>
                </ul>
                <div class="card-car__bottom">
                  <div class="card-car__price">1 500 000 ₽</div>
                  <div class="card-car__date">03.09.2026</div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="slider-pagination _lap-min"></div>
      <div data-more-btn class="btn-s _outline s-catalog__btn-more">Показать еще</div>
    </div>
  </div>
</section>
