<section class="s-catalog sect-m" id="s-catalog">
  <img src="@img/lines-decor.png" alt="decor" class="s-catalog__decor _right">
  <img src="@img/lines-decor.png" alt="decor" class="s-catalog__decor _left">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Последние выкупленные авто</h2>
    </div>
    <div class="swiper s-catalog__slider">
      <div class="swiper-wrapper s-catalog__slider-wrapper">
        <div class="swiper-slide">
          <article class="card-car">
            <div class="swiper card-car__slider">
              <div class="swiper-wrapper">
                <a
                  href="@img/car.jpg"
                  data-fancybox="gallery-catalog-1"
                  class="swiper-slide"
                >
                  <img src="@img/car.jpg" alt="image" />
                </a>
                <a
                  href="@img/car.jpg"
                  data-fancybox="gallery-catalog-1"
                  class="swiper-slide"
                >
                  <img src="@img/car.jpg" alt="image" />
                </a>
                <a
                  href="@img/car.jpg"
                  data-fancybox="gallery-catalog-1"
                  class="swiper-slide"
                >
                  <img src="@img/car.jpg" alt="image" />
                </a>
              </div>
            </div>
            <h3 class="card-car__title">Toyota Camry</h3>
            <ul class="list card-car__list">
              <li>2011 г</li>
              <li>2.0</li>
              <li>150 000 км</li>
              <li>Б/у</li>
            </ul>
            <div class="card-car__bottom">
              <div class="card-car__price">1 500 000 ₽</div>
              <div class="card-car__date">03.09.2026</div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
