<section class="sect-m s-contacts" id="s-contacts">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наши контакты</h2>
    </div>
    <div class="s-contacts__grid">
      <div class="s-contacts__item">
        <div class="item-circle">
          <i class="icon-tel"></i>
        </div>
        <div class="item-body">
          <div class="item-name">Телефон</div>
          <a href="tel:+79625538687" class="item-val">+7 (962) 553-86-87</a>
        </div>
      </div>
      <div class="s-contacts__item">
        <div class="item-circle">
          <i class="icon-location"></i>
        </div>
        <div class="item-body">
          <div class="item-name">Наш адрес</div>
          <div class="item-val">г. Казань, ул. 1-ая азинская, д. 41</div>
        </div>
      </div>
      <div class="s-contacts__item">
        <div class="item-circle">
          <i class="icon-clock"></i>
        </div>
        <div class="item-body">
          <div class="item-name">График работы</div>
          <div class="item-val">На связи 24/7</div>
        </div>
      </div>
      <div class="s-contacts__item">
        <div class="item-circle">
          <i class="icon-message"></i>
        </div>
        <div class="item-body">
          <div class="item-name">Мессенджеры</div>
          <div class="social">
            <a href="#" target="_blank" rel="nofollow" class="social-item _dark">
              <i class="icon-tg"></i>
            </a>
            <a href="#" target="_blank" rel="nofollow" class="social-item _dark">
              <i class="icon-max"></i>
            </a>
            <a href="#" target="_blank" rel="nofollow" class="social-item _dark">
              <i class="icon-whats"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div data-center="[55.809782568906854,49.203557999999965]" data-zoom="17" data-icon="@img/location.svg" class="s-contacts__map map"></div>
  </div>
</section>