<section class="sect-m s-docs" id="s-docs">
  <div class="container">
    <div class="s-docs__body">
      <img src="@img/lines-decor-white.png" alt="decor" class="s-docs__decor _left">
      <img src="@img/lines-decor-white.png" alt="decor" class="s-docs__decor _right">
      <div class="s-docs__body-inside">
        <div class="s-docs__info">
          <h2 class="s-title s-docs__title">Какие документы нужны для быстрого выкупа</h2>
          <div class="s-docs__grid">
            <div class="s-docs__item">
              <div class="item-circle">
                <img src="@img/icon-doc.svg" alt="icon">
              </div>
              <span>Паспорт транспортного средства (ПТС)</span>
            </div>
            <div class="s-docs__item">
              <div class="item-circle">
                <img src="@img/icon-doc.svg" alt="icon">
              </div>
              <span>Паспорт гражданина РФ или СНГ</span>
            </div>
            <div class="s-docs__item">
              <div class="item-circle">
                <img src="@img/icon-doc.svg" alt="icon">
              </div>
              <span>Свидетельство (СТС) транспортного средства</span>
            </div>
            <div class="s-docs__item">
              <div class="item-circle">
                <img src="@img/icon-doc.svg" alt="icon">
              </div>
              <span>Доверенность (если вы не собственник)</span>
            </div>
          </div>
        </div>
        <div class="s-docs__block anchors">
          <ul class="list list-c">
            <li>
              <div class="item-circle">
                <i class="icon-check"></i>
              </div>
              <span>Всё по договору купли-продажи</span>
            </li>
            <li>
              <div class="item-circle">
                <i class="icon-check"></i>
              </div>
              <span>Выезд оценщика бесплатный</span>
            </li>
            <li>
              <div class="item-circle">
                <i class="icon-check"></i>
              </div>
              <span>Деньги сразу на карту, наличными или счёт</span>
            </li>
          </ul>
          <a href="/#s-get" class="btn-s s-docs__block-btn">Оценить авто онлайн</a>
        </div>
      </div>
    </div>
  </div>
</section>