<section class="s-form bg-athens" id="s-form">
  <div class="container">
    <div class="s-form__wrap">
      <div class="s-form__info">
        <h2 class="s-title">Готовы продать автомобиль?</h2>
        <div class="content-box s-form__content _big">
          <p>
            Оставьте заявку прямо сейчас — мы свяжемся с вами и предложим лучшую
            цену!
          </p>
        </div>
      </div>
      <div class="s-form__form-wrap">
        <form action="#" class="s-form__form">
          <div class="form-grid">
            <div class="form-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="form-control">
              <input type="tel" placeholder="Номер телефона" class="input" />
            </div>
            <div class="form-control">
              <input
                type="text"
                placeholder="Марка / Модель / Год выпуска"
                class="input"
              />
            </div>
            <button type="submit" class="btn-s">Получить оценку</button>
            <div class="check-wrap">
              <span class="wpcf7-form-control-wrap">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input type="checkbox" />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я соглашаюсь с
                          <a href="/personal-data" target="_blank">
                            Правилами обработки персональных данных
                          </a>
                          и
                          <a href="/privacy-policy" target="_blank">
                            Политикой конфиденциальности
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </form>
      </div>
      <img src="@img/lines-decor-white.png" alt="decor" class="s-form__decor">
    </div>
  </div>
</section>
