<section class="s-get bg-athens">
  <div class="container">
    <div class="s-get__wrap">
      <div class="s-get__block _center">
        <picture class="s-get__img">
          <img src="@img/get.jpg" alt="image" />
        </picture>
        <div class="s-get__info">
          <h2 class="s-title">
            Узнай стоимость своего автомобиля с учетом надбавок
          </h2>
          <div class="content-box s-get__content">
            <p>Увеличим стоимость за каждую позицию на 10%!</p>
          </div>
        </div>
      </div>
      <div class="s-get__block">
        <form action="#" class="s-get__form">
          <div class="form-grid">
            <div class="form-control">
              <input
                type="text"
                placeholder="Марка / Модель / Год выпуска"
                class="input"
              />
            </div>
            <div class="form-control">
              <input type="text" placeholder="Пробег" class="input" />
            </div>
            <div class="form-control">
              <input
                type="number"
                placeholder="Кол-во собственников"
                class="input"
              />
            </div>
            <div class="form-control">
              <input type="tel" placeholder="Номер телефона" class="input" />
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Оригинальный ПТС</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Есть сервисная книжка</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Есть второй комплект колёс</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Рабочий кондиционер</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Приемлемый пробег</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Лобовое стекло без трещин</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Кузов и салон в хорошем состоянии</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Отсутствие ДТП</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control _full">
              <label class="file-wrap">
                <span class="wpcf7-form-control-wrap">
                  <input
                    size="40"
                    class="wpcf7-form-control wpcf7-file"
                    accept="image/*"
                    type="file"
                  />
                </span>
                <div class="file-btn">
                  <i class="icon-attach"></i>
                  <span class="file-name">Прикрепить фото</span>
                </div>
              </label>
            </div>
            <div class="form-control _full">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Я соглашаюсь с
                            <a href="/personal-data" target="_blank">
                              Правилами обработки персональных данных
                            </a>
                            и
                            <a href="/privacy-policy" target="_blank">
                              Политикой конфиденциальности
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control _full">
              <button type="submit" class="btn-s">Узнать цену с учетом доплат</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
