<section class="s-hero" id="s-hero">
  <picture class="s-hero__bg">
    <source srcset="@img/hero-mob.jpg" media="(max-width: 1025px)">
    <img src="@img/hero.jpg" alt="image" />
  </picture>
  <div class="s-hero__body">
    <div class="container">
      <div class="s-hero__wrap">
        <h1 class="m-title s-hero__title">
          Срочный выкуп авто в Казани и РТ
          <span>за 30 минут</span>
        </h1>
        <div class="content-box s-hero__content">
          <p>
            Покупаем любые автомобили по честной цене. Деньги сразу. Оформление за
            30 минут
          </p>
        </div>
        <div class="s-hero__adv">
          <div class="s-hero__adv-item">
            <div class="item-circle">
              <img src="@img/hero-adv.svg" alt="icon" />
            </div>
            <span class="item-text">Выкупим за 97% рыночной стоимости</span>
          </div>
          <div class="s-hero__adv-item">
            <div class="item-circle">
              <img src="@img/hero-adv.svg" alt="icon" />
            </div>
            <span class="item-text">Рассмотрим авто в любом состоянии</span>
          </div>
          <div class="s-hero__adv-item">
            <div class="item-circle">
              <img src="@img/hero-adv.svg" alt="icon" />
            </div>
            <span class="item-text">
              Документы и снятие с учета берём на себя
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-hero__form-wrap">
    <img src="@img/hero-mob.png" alt="image" class="s-hero__form-img">
    <div class="container">
      <div class="s-hero__form-inside">
        <div class="s-hero__form-title">Узнайте стоимость авто прямо сейчас</div>
        <form action="#" class="s-hero__form">
          <div class="form-grid">
            <div class="form-control">
              <input
                type="text"
                placeholder="Марка / Модель / Год выпуска"
                class="input"
              />
            </div>
            <div class="form-control">
              <input type="text" placeholder="Пробег" class="input" />
            </div>
            <div class="form-control">
              <input type="tel" placeholder="Номер телефона" class="input" />
            </div>
            <div class="form-control">
              <button type="submit" class="btn-s">Оценить стоимость</button>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" aria-invalid="false" />
                        <span class="wpcf7-list-item-label">
                          <span>Отсутствие ДТП</span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <label class="file-wrap">
                <span class="wpcf7-form-control-wrap">
                  <input
                    size="40"
                    class="wpcf7-form-control wpcf7-file"
                    accept="image/*"
                    type="file"
                  />
                </span>
                <div class="file-btn">
                  <i class="icon-attach"></i>
                  <span class="file-name">Прикрепить фото</span>
                </div>
              </label>
            </div>
            <div class="form-control _half">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Я соглашаюсь с
                            <a href="/personal-data" target="_blank">
                              Правилами обработки персональных данных
                            </a>
                            и
                            <a href="/privacy-policy" target="_blank">
                              Политикой конфиденциальности
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>