<section class="sect-m s-reviews" id="s-reviews">
  <div class="container tabs">
    <div class="sect-head">
      <h2 class="s-title">Отзывы о нашей работе</h2>
    </div>
    <div class="s-reviews__tabs-nav tabs-nav">
      <div data-tab-btn="tab-videos" class="s-reviews__tab-btn _active">
        Видео-отзывы
      </div>
      <div data-tab-btn="tab-widget" class="s-reviews__tab-btn">
        Отзывы из соц. сетей
      </div>
    </div>
    <div class="tabs-content">
      <div data-tab="tab-videos" class="_active _show">
        <div class="swiper s-reviews__slider">
          <div class="swiper-wrapper">
            <a href="@img/check-white.svg" data-fancybox class="swiper-slide">
              <img src="@img/video-review.jpg" alt="image" />

              <div class="btn-play">
                <i class="icon-play"></i>
              </div>
            </a>
            <a href="@img/check-white.svg" data-fancybox class="swiper-slide">
              <img src="@img/video-review.jpg" alt="image" />

              <div class="btn-play">
                <i class="icon-play"></i>
              </div>
            </a>
            <a href="@img/check-white.svg" data-fancybox class="swiper-slide">
              <img src="@img/video-review.jpg" alt="image" />

              <div class="btn-play">
                <i class="icon-play"></i>
              </div>
            </a>
            <a href="@img/check-white.svg" data-fancybox class="swiper-slide">
              <img src="@img/video-review.jpg" alt="image" />

              <div class="btn-play">
                <i class="icon-play"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="slider-pagination"></div>
      </div>
      <div data-tab="tab-widget">
        Hello world
      </div>
    </div>
  </div>
</section>
