<section class="sect-m s-social" id="s-social">
  <div class="container">
    <div class="s-social__body">
      <div class="s-social__wrap">
        <div class="s-social__info">
          <h2 class="s-title s-social__title">
            Быстрая оценка вашего авто в мессенджере
          </h2>
          <div class="content-box _big s-social__info-content">
            <p>
              Отправьте фото своего авто, опишите преимущества, и мы пришлем
              цену в течение 5 минут
            </p>
          </div>
        </div>
        <div class="s-social__buttons">
          <a
            href="#"
            target="_blank"
            rel="nofollow"
            class="s-social__btn _tg"
          >
            <span>Оценить в Telegram</span>
            <i class="icon-tg"></i>
          </a>
          <a
            href="#"
            target="_blank"
            rel="nofollow"
            class="s-social__btn _max"
          >
            <span>Оценить в MAX</span>
            <i class="icon-max"></i>
          </a>
          <a
            href="#"
            target="_blank"
            rel="nofollow"
            class="s-social__btn _whats"
          >
            <span>Оценить в WhatsApp</span>
            <i class="icon-whats"></i>
          </a>
        </div>
      </div>
      <img src="@img/social.png" alt="image" class="s-social__img">
      <img src="@img/lines-decor-white.png" alt="decor" class="s-social__decor">
    </div>
  </div>
</section>
