<section class="sect-p s-steps bg-athens" id="s-steps">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__wrap">
        <h2 class="s-title">Как проходит выкуп автомобилей</h2>
        <div class="sect-head__text">Весь процесс занимает до 30 минут</div>
      </div>
    </div>
    <div class="s-steps__grid">
      <div class="s-steps__item">
        <div class="s-steps__item-head">
          <div class="item-circle">
            <img src="@img/step-icon.svg" alt="icon" />
          </div>
          <div class="item-separator"></div>
          <div class="item-num">01</div>
        </div>
        <h3 class="s-steps__item-title">Оставьте заявку</h3>
        <div class="content-box s-steps__content">
          <p>
            Равным образом, социально-экономическое развитие однозначно
            определяет каждого участника как способного принимать собственные
            решения касаемо первоочередных требований
          </p>
        </div>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__item-head">
          <div class="item-circle">
            <img src="@img/step-icon.svg" alt="icon" />
          </div>
          <div class="item-separator"></div>
          <div class="item-num">02</div>
        </div>
        <h3 class="s-steps__item-title">Оценка стоимости</h3>
        <div class="content-box s-steps__content">
          <p>
            В целом, конечно, разбавленное изрядной долей эмпатии, рациональное
            мышление однозначно определяет каждого участника
          </p>
        </div>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__item-head">
          <div class="item-circle">
            <img src="@img/step-icon.svg" alt="icon" />
          </div>
          <div class="item-separator"></div>
          <div class="item-num">03</div>
        </div>
        <h3 class="s-steps__item-title">Осмотр машины</h3>
        <div class="content-box s-steps__content">
          <p>
            Современные технологии достигли такого уровня, что выбранный нами
            инновационный путь играет важную роль
          </p>
        </div>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__item-head">
          <div class="item-circle">
            <img src="@img/step-icon.svg" alt="icon" />
          </div>
          <div class="item-separator"></div>
          <div class="item-num">04</div>
        </div>
        <h3 class="s-steps__item-title">Получите ваши деньги</h3>
        <div class="content-box s-steps__content">
          <p>
            Равным образом, новая модель организационной деятельности однозначно
            определяет каждого
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
