<section class="sect-m s-why" id="s-why">
  <div class="container">
    <div class="s-why__wrap">
      <div class="s-why__info">
        <h2 class="s-title">Почему выгоднее продать у нас?</h2>
        <div class="content-box s-why__content">
          <p>
            «Авто Территория» - это быстрый выкуп авто с пробегом в Казани и
            Татарстане. Никаких самостоятельных поисков покупателя и торговли с
            перекупщиками. Скупка машин - наша работа, поэтому продажа пройдёт
            легко и без лишних усилий с вашей стороны.
          </p>
        </div>
        <div class="s-why__table-literature">
          1 — Авто Территория
          <br />
          2 — Trade-in
          <br />
          3 — Автоаукцион
          <br />
          4 — Самостоятельно
        </div>
      </div>
      <div class="s-why__table">
        <div class="s-why__table-head">
          <div class="table-row">
            <div class="table-item">Сравнение способов продажи</div>
            <div data-count="1" class="table-item _primary">АвтоТерритория</div>
            <div data-count="2" class="table-item">Trade-in</div>
            <div data-count="3" class="table-item">Автоаукцион</div>
            <div data-count="4" class="table-item">Самостоятельно</div>
          </div>
        </div>
        <div class="s-why__table-body">
          <div class="table-row">
            <div class="table-item">Скорость продажи</div>
            <div class="table-item">
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item _center">
              <div class="item-infinate">∞</div>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">Скорость продажи</div>
            <div class="table-item">
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item _center">
              <div class="item-infinate">∞</div>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">Ожидаемая стоимость</div>
            <div class="table-item">
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item _center">
              <div class="item-infinate">∞</div>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">Юридическая безопасность</div>
            <div class="table-item">
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item _center">
              <div class="item-infinate">∞</div>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">Прозрачность оценки</div>
            <div class="table-item">
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item _center">
              <div class="item-infinate">∞</div>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">Комфорт сделки</div>
            <div class="table-item">
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _primary">
                <i class="icon-check"></i>
              </div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item">
              <div class="item-circle _fill">
                <i class="icon-check"></i>
              </div>
              <div class="item-circle"></div>
              <div class="item-circle"></div>
            </div>
            <div class="table-item _center">
              <div class="item-infinate">∞</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
